.App {
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  min-height: 100%;
  padding: 50px;
  padding-top: 20vh
}

body {
  overflow-x: hidden;
  background-color: rgb(210, 241, 252);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-size: calc(10px + 1vmin);
  color: #003366;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
}

.result {
  background-color: rgba(255, 255, 255, 1);
  width: 72%;
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
}
.left {
  width: 20%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.35);
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.totalAmount {
  align-content: center;
  display: grid;
  height: 100%;
  margin-Top: 0;
  font-Size: 30px
}

.totalAmount-child {
  font-Weight: 600;
  font-Size: 45px;
  margin-Top: 0
}
